[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=fatih
Group=fatih
WorkingDirectory=/home/fatih/app/src/
Environment="PATH=/home/fatih/app/venv/bin"
EnvironmentFile=/home/fatih/.env
ExecStart=/home/fatih/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target